.profile__paragraph {
  margin: 1rem 0 0;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: normal;
  color: white;
}

@media screen and (max-width: 768px) {
  .profile__paragraph {
    margin: 0.875rem 0 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .profile__paragraph {
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }
}
