.cover__subtitle {
  max-width: 360px;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: normal;
  color: white;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 625px) {
  .cover__subtitle {
    font-size: 2.880vw;
    line-height: 3.520vw;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    width: 100%;
    font-size: 0.875rem;
    line-height:  1.125rem;
  }
}
