.profile__title {
  margin: 0;
  font-size: 2.625rem;
  line-height: 3rem;
  font-weight: 500;
  color: white;
}

@media screen and (max-width: 500px) {
  .profile__title {
    font-size: 1.6875rem;
    line-height: 2.0625rem;
  }
}
