.lead__subtitle {
  max-width: 640px;
  margin: 0 auto 4rem;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: normal;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 3.5rem;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    width: 90%;
    font-size: 3.91vw;
    line-height: 4.69vw;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    width: 90%;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 2.5rem;
  }
}
