.cover {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 0 5.75rem;
}

@media screen and (max-width: 768px) {
  .cover {
    padding: 0 0 5.5rem;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    padding: 0 0 4rem;
  }
}
