.footer {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: calc(100% - 96px);
  }
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
  }
}
@media screen and (max-width: 425px) {
  .footer {
    max-width: calc(100% - 32px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
